/* Reset */
a.profile {
    position: relative;
}

.mfUploadHolder > .row.buttons {
    overflow: visible;
}


#commentForm {
    textarea {
        position: relative;
        z-index: 10;
    }
}

/* Emojis */
.mbpp { 
    .rotate {
        transform: rotate(180deg);
    }

    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgb(87, 87, 87);
    }
    
    ::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #3c3c3c;
    }

    &-promo-checkbox {
        position: absolute;
        z-index: 10;
    }

    &-promo-label {
        margin-left: 24px !important;
    }

    &-emoji { 
        img {
           height: 20px;
        }
    }
}