/* Reset */
a.profile {
    position: relative;
}

.mfUploadHolder > .row.buttons {
    overflow: visible;
}


/* Emojis */
.mbpp { 
    ::-webkit-scrollbar {
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgb(87, 87, 87);
    }
    
    ::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #777;
    }
    
    &-emoji { 
        img {
           height: 20px;
        }
    }
}